@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-grid-pattern {
  background-size: 40px 40px;
  background-image: 
    linear-gradient(to right, rgb(243 244 246 / 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgb(243 244 246 / 0.05) 1px, transparent 1px);
}

.bg-grid-pattern-dark {
  background-size: 40px 40px;
  background-image: 
    linear-gradient(to right, rgb(255 255 255 / 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgb(255 255 255 / 0.05) 1px, transparent 1px);
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 18, 18, 18;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: Arial, Helvetica, sans-serif;
}
